/* navbar style */
.topnav {
    overflow: hidden;
    background-color: #f1f1f1;
    border-bottom: 2px solid lightcoral;
  }
  
  /* links of the navbar style */
  .topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  /*.topnav a:hover {
    border-bottom: 3px solid red;
  }
  a:active {
    color: 3px solid red;
  } 
  
  .topnav a.active {
    border-bottom: 3px solid red;
  }*/
  
  
  /* main title style */
  h1 {
    color: #193441;
    margin-top: 30px;
    margin-left: 200px;
    margin-bottom: 2px;
  }
  