/* rotation spead param style */
.rs {
    color: #194144;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 10px;
  }
  
/* angle of attack param style */
  .aa {
    color: #194144;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 10px;
  }

/* Create two equal columns that floats next to each other */
  .parameters {
    float: left;
    width: 27%;
    height: 500px;
    padding: 10px;
    margin-left: 200px;
    margin-right: -30px;
    background-color: #fff;
  }

/* style for the real time simulation btn */
.rt-sim-btn {
    margin-left: 2px;
    background-color: #193144;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    border: none;
    margin-bottom: 15px;
}

/* style for the processed simulation btn */
.pr-sim-btn {
    margin-left: 2px;
    background-color: #91aa9d;
    color: #193441;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    border: none;
}

/* style for CFD param */
#param-CFD {
    margin-bottom: -10px;
    color: #3e606f;
    font-weight: bold;
}

/* style for for ML param */
#param-ML {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: medium;
}

/* style for ML algo */
#ML-algo {
    margin-bottom: 25px;
    color: #a5b7c6;
}

.ml-algo {
    margin-top: -30px;
    margin-bottom: 70px;
    color: #194144;
    font-weight: bold;
}

/* style for submit button */
.btn-submit {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 22%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#btn {
    margin-top: 350px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: #193441;
    padding: 10px;
    background-color: #91aa9d;
    border-radius: 0.5rem;
    border: none;
}

/* style for pre-processed simulation */
/* Create a custom radio button 
.sim-title {
    color: #91aa9d; 
    font-size: 18px; 
    font-weight: bold;
    position: absolute;
  
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }*/
