/* style for the processed simulation page */
.simulation {
    float: left;
    width: 27%;
    height: 500px;
    padding: 10px;
    margin-left: 200px;
    margin-right: -30px;
    background-color: #fff;
}

.processed-simulation-btn {
    display: block;
    background-color: #193144;
    width: 200px;
    height: 50px;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 9rem;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    margin-bottom:5px;
    display:block;
}
.processed-simulation-btn:hover {
    background-color: #a5b7c6;
    color: #193441;
    transition: 0.8s;
}

#processed-ML {
    margin-bottom: 18px;
    margin-top: 20px;
    font-size: medium;
}
.simulation-info {
    margin-top: 50px;
}

#ML-alg {
    margin-bottom: 15px;
    color: #a5b7c6;
}

.ml-alg {
    margin-top: -30px;
    margin-bottom: 70px;
    color: #194144;
    font-weight: bold;
}

#rotation-speed {
    color: #193441; 
    font-weight: bold;
}

#angel-of-attack {
    color: #193441; 
    font-weight: bold;
}

img {
    margin-top: -1px;
    margin-left: -1%;
    margin-bottom: 50px;
    height: 350px;
    width: 350px;
    justify-content: space-evenly;
  }
